@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sarina&display=swap');


* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100vw;
    height: auto;
    background: #eeeeee;
    

}

span img {
    width: 200px;
    height: 100px;
}


header {
    width: 100vw;
    height: 100px;
    background: #fff;
    position: fixed;
    
}

nav {
    display: flex;
    color: black;
    width: 80%;
    height: 100%;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    font-size: 24px; 
}

ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
    list-style: none;
    text-transform: uppercase;
    
}

li:hover{
    color: yellow;
}

main {
    width: 100vw;
    height: 80vh;
    background-image:linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(./joe.jpg);
    background-position: center center;
    background-size:cover;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    
}


.container{
    width: 100vh;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


h1{
    font-size: 50px;
    color: yellow;
    text-shadow: 1px 5px 5px black;
    font-family: 'Sarina', cursive;
}

h2 {
    font-size: 50px;
    color: rgb(204, 204, 40);
    
}


p {
    font-size: 32px;
    color: white;
}

.servicos p{
    text-align: center;
    color: black;
    font-size: 18px;
    font-weight: 400;
    padding: 24px;
}

i  {
    background: green;
    border-radius: 50%;
}

main button {
    border: 2px solid yellow;
    background: transparent;
    color: white;
    font-size: 32px;
    padding: 20px;
    border-radius: 5px;
    margin-top: 50px;
    transition: 0.3s;
}

button:hover{
    background: yellow;
    color: black;
    transform: scale(1.1);
}


img {
    width: 400px;
    height: 400px;
}

.servicos{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

a {
    text-decoration: none;
    color: white;
}

a:hover{
    color: black;
}


.offerservice {
    display: flex;
    gap: 50px;
    justify-content: space-around;
    padding: 32px;
}


.service-card {
    background: #fff;
    width: 33%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    padding-bottom: 24px;
    box-shadow: 1px 5px 30px #5b5b5b;
}

.service-card p {
    font-weight: 500;
}

.service-card img {
    width: 300px;
    height: 200px;
}

.service-card button {
    font-size: 12px;
    background: yellow;
    color: black;
    padding: 8px 32px;
    border-radius: 8px;
    line-height: 1;
    border: none;
}

.action{
    width: 100%;
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.action-img{
    width: 50%;
}
.action img {
    
    width: 400px;
    height: 600px;

}

.action-text {
    display: flex;
    align-items:center;
    justify-content: space-around;
    flex-direction: column;
    height: 50%;
}

.action-text h3 {
    font-size: 32px;

}

.action-text button {
    font-size: 32px;
    background: yellow;
    color: black;
    padding: 8px 32px;
    border-radius: 8px;
    line-height: 1;
    border: none;
}

.sobre {
    width: 100vw;
    height: 800px;
    display: flex;
    align-items:center;
    justify-content: space-around;
    background-image:linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(./joe.jpg);
    background-position: center center;
    background-size:cover;
    padding: 20px;
}

.sobre-text {
    width: 50%;
    display: flex;
    align-items:start;
    justify-content: space-around;
    flex-direction: column;
    color: white;

}

.sobre-text p {
    color: white;
    font-size: 1rem;
}

.sobre-items h3 {
    color: white;
}

.sobre-items  {
    width: 45%;
    height: 349px;
    background-image: url(./bandeiras\ -cartoes.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size:contain;
}
.sobre-items p {
    color: white;
}


@media screen and (max-width: 480px) {
    .offerservice {
      flex-direction: column;
    }

    .service-card {
        width: 100%;
    }
  
    .container {
        text-align: center;
    }

    header {
        position: fixed;
        right: 0;
        top: 0;
    }

    nav{
        display: flex;
        align-items: center;
        justify-content: end;
    }


    nav li{
        display: none;
    }

    body {
        text-align: center;
    }

    .action {
        flex-direction: column;
        margin-bottom: 20px;
    }

    .sobre {
        flex-direction: column;
        padding: 10px;

    }

    .sobre-text {
        align-items: center;
        width: 80%;
        
        margin: 10px;
    }

    .sobre-items {
        width: 100%;
        height: 80%;
        font-weight: 700;
        justify-content: space-around;
    }

    .sobre-items p {
        font-weight: 700;
    }

    button:hover{
        background: yellow;
        color: black;
        transform: scale(1.1);
    }

    .action img {
        width: 100%;
        height: 95%;
    }


}

